# Cache files
__pycache__/
*.pyc
.pytest_cache/

# Environments (Python)
env/
venv/
ENV/
.env

# Dependencies (Node)
node_modules/
.pnp
.pnp.js

# Build outputs
build/
dist/
out/

# IDE files
.DS_Store
.idea/
.vscode/
